/* AvailabilityCalendar.css */
.availability-calendar-container {
  width: 90%; /* Adjust as needed */
  margin-bottom: 20px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  margin: 0 auto; /* Added to center */
}

/* Removed .day-view-active class and max-width override */

.calendar-controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}