/* AvailabilityCalendar.css */
.availability-calendar-container {
  width: 90%; /* Adjust as needed */
  margin-bottom: 20px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  margin: 0 auto; /* Added to center */
}

.calendar-controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  align-items: center; /* Vertically center items */
}

.timezone-message {
  font-size: 1.2em;
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f8f9fa;
}